* {
  font-family: "游ゴシック Medium","Yu Gothic Medium", "メイリオ", Meiryo, arial, sans-serif;
  font-feature-settings: "pkna" 1;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
}
 
html {
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}
 
body {
  margin: 0;
  padding: 0;
}


.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
 
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

span.Warning {
  color: rgb(255, 128, 0);
  font-weight: bold;
}

span.Critical {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.blue {
  color: #E2EBF5;
  text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}

.gold {
  color: #DED7BE;
  text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}

.resize-handle {
  background-image: url(handle.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#toggle-collapse {
  cursor: pointer;
  float: right;
}

.box { position: relative; }


